PASSPORT_SECRET=your_jwt_secret_here
MONGODB_CONNECTION=mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_LOCALHOST=mongodb://127.0.0.1:27017/mvdb
TMDB_API_KEY=your_tmdb_api_key_here
CLIENT_ORIGIN=http://localhost:3000
ADMIN_SECRET=your_admin_secret_here
